extends ../../views/layout

block title
  title Users - Express Boilerplate

block styles
  link(href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css", rel="stylesheet")

block content
  .container
    .page-header
      h1 Users

    table.table.table-hover
      tbody
        thead
          tr
            th #[strong #]
            th #[strong Name]
            th #[strong E-mail]
            th #[strong Username]
            th #[strong Password]
            th #[strong Created at]

        each user in users
          tr
            td #[strong #{user._id}]
            td #[span #{user.name}]
            td #[span #{user.email}]
            td #[span #{user.username}]
            td #[span #{user.password}]
            td #[span #{user.created()}]
