extends ../../resources/views/layout

block title
  title Users - Express Boilerplate

block content
  .container
    .head
      h1 Users
      a.button(href="#") Novo

    if (users.length)
      table.table.table-hover
        tbody
          thead
            tr
              th #[strong #]
              th #[strong Name]
              th #[strong E-mail]
              th #[strong Username]
              th #[strong Created at]

          each user in users
            tr
              td #[strong #{user.id}]
              td #[span #{user.name}]
              td #[span #{user.email}]
              td #[span #{user.username}]
              td #[span #{user.created}]
    else
      p.text-info No users registered yet... #[a(href="users/create") Create an random user]
